<app-result-contato [mensagem]="mensagem" [contato]="contato"></app-result-contato>

<h5>Edição de contato</h5>

<form class="mt-3" [formGroup]="formEdicao" (ngSubmit)="onSubmit()">

    <input type="hidden" formControlName="idContato"/>

    <div class="row mb-2">
        <div class="col-md-6">
            <label>Nome do contato:</label>
            <input type="text" class="form-control" formControlName="nome"/>

            <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
                <div *ngIf="form.nome.errors.required">
                    Por favor, informe o nome do contato.
                </div>
                <div *ngIf="form.nome.errors.minlength">
                    Por favor, informe no mínimo 6 caracteres.
                </div>
                <div *ngIf="form.nome.errors.maxlength">
                    Por favor, informe no máximo 150 caracteres.
                </div>
            </div>  

        </div>
        <div class="col-md-3">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email"/>

            <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                <div *ngIf="form.email.errors.required">
                    Por favor, informe o email do contato.
                </div>
                <div *ngIf="form.email.errors.email">
                    Por favor, informe um endereço de emal válido.
                </div>
            </div>  

        </div>
        <div class="col-md-3">
            <label>Telefone:</label>
            <input type="text" class="form-control" formControlName="telefone" mask="(00)00000-0000"/>

            <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
                <div *ngIf="form.telefone.errors.required">
                    Por favor, informe o telefone do contato.
                </div>
            </div>  
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <input type="submit" value="Salvar Alterações" 
                [disabled]="!formEdicao.valid"
                class="btn btn-primary"/>
        </div>
    </div>
 
</form>