<div class="row mt-5">
    <div class="col-md-4 offset-4">
        <div class="card">           
            <div class="card-body">
                <div class="text-center">
                    <h5 class="card-title">Esqueci minha senha</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Informe os dados para recuperar sua senha.</h6>
                </div>
                <hr />

                <form [formGroup]="formPassword" (ngSubmit)="onSubmit()" class="mt-3">
                    
                    <div class="mb-2">
                        <label>Email de acesso:</label>
                        <input type="email" class="form-control" placeholder="Digite aqui" formControlName="email" />
                        <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                            <div *ngIf="form.email.errors.required">
                                Por favor, informe seu email.
                            </div>
                            <div *ngIf="form.email.errors.email">
                                Por favor, informe um email válido.
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-grid">
                        <input type="submit" value="Recuperar Senha" class="btn btn-primary"
                            [disabled]="!formPassword.valid" />
                    </div>
                    <div class="mb-2 d-grid">
                        <a [routerLink]="['/login']" class="btn btn-light">
                            <strong>Voltar</strong>
                        </a>
                    </div>
                </form>

                <div *ngIf="mensagem_sucesso" class="text-success text-center mb-2">
                    <strong>{{mensagem_sucesso}}</strong>
                </div>

                <div *ngIf="mensagem_erro" class="text-danger text-center mb-2">
                    <strong>{{mensagem_erro}}</strong>
                </div>

            </div>
        </div>
    </div>
</div>